.glyphicon {
    font-size: 23px;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: none;
}

.navbar-form .input-group > .form-control {
    width: 470px;
}

.file {
    visibility: hidden;
    position: absolute;
}
