{% extends "bootstrap/base.html" %}

{% block title %}Corneal Limbus GUI{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="btn-toolbar" role="toolbar" aria-label="Button">
                <button class="btn btn-warning navbar-btn" type="button" aria-label="Home">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <a href="/" style="font-size: 20px; font-weight: 600; color: #17171b">Home</a>
                </button>
                <form class="navbar-form navbar-right" method="post">
                    <input type="file" name="video-name" class="file">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-film"></i></span>
                        <input type="text" class="form-control input-lg"
                               placeholder="No file chosen...">
                        <span class="input-group-btn">
                            <button class="browse btn btn-default input-lg" type="button" style="font-size: 20px;">
                            <i class="glyphicon glyphicon-search"></i> BROWSE
                            </button>
                            <button class="btn btn-primary input-lg" type="submit" style="font-size: 20px;">
                            <i class="glyphicon glyphicon-ok"></i> OK
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script language="JavaScript" type="text/javascript"
            src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript"
            src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript"
            src="{{ url_for('static', filename='js/common.js') }}"></script>
    {{ super() }}
{% endblock %}