{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {{ dropzone.load() }}
    {{ dropzone.style("
    border: 2px dashed #c2bfbf;
    margin: 3%;
    min-height: 200px;
    padding: 20px 29px") }}
{% endblock %}

{% block additionalButtonBlock %}
    <button class="btn btn-success navbar-btn pull-right" type="button">
        <span class="glyphicon glyphicon-refresh"></span>
        <a href="/">Refresh</a>
    </button>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 3em;">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                        Select
                    </div>
                    <div class="panel-body">
                        {{ dropzone.create("index") }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 " style="padding-left: 0;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        Repository
                        <button type="button" class="btn btn-danger pull-right" id="clearButton">
                            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                            <a href="/clear_repo">Clear</a>
                        </button>
                    </div>
                    <div class="panel-body" style="min-height: 273.5px;">
                        <div class="tall-block">
                            <div id="repoButtons" class="btn-group-vertical" data-toggle="buttons"
                                 style="display: inherit">
                                {% for file in files %}
                                    <label class="btn btn-default btn-block">
                                        <input type="radio" autocomplete="off" value="{{ file }}">
                                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"
                                              style="font-size: 18px;">
                                    </span>
                                        {{ file }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block" id="runButton">
                            <a href="/run_all">Run all</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="glyphicon glyphicon-plane"></a>Progress
                    </div>
                    <div class="panel-body" style="min-height: 125px;">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div id="alreadyRunAlert" class="alert alert-danger"
                                         style="font-size: 18px; display: block">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        Checked
                    </div>
                    <div class="panel-body" style="padding-top: 0;">
                        <form class="form-inline" method="post">
                            <input type="hidden" class="form-control" name="checked_video_name"
                                   id="checkedRepo">
                            <div id="checkedRepoText"></div>
                            <button type="submit" class="btn btn-success btn-block">Inspect</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div style="margin-top: -3px;">Copyright © 2018 ZengYu</div>
                    <div>
                        Powered by <a href="http://flask.pocoo.org/" target="_blank">Flask</a>,
                        theme from <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
                    </div>
                </div>
                <div class="col-sm-6 text-right contact-me" >
                    <span class="glyphicon glyphicon-earphone"></span>13267093095
                    <span class="glyphicon glyphicon-envelope"></span>zykimmy714@gmail.com
                </div>
            </div>
        </div>
    </div>
{% endblock %}
